<div class="row">
    <div class="col-md-12">
        <h2>Kitap Detay</h2>
        <hr>
    </div>
    <div class="col-md-4">
        <img style="width: 300px;" [src]="book.picture">
    </div>
    <div class="col-md-8">
        <mat-list style="font-size: 14px; font-weight:bold; margin-left:10px;" >
        <mat-list-item>
            <span class="book-detail-text">Başlık:  </span> {{book.title}}
        </mat-list-item>

        <mat-list-item>
            <span class="book-detail-text">Yazar:    </span> {{book.author}}
        </mat-list-item>

        <mat-list-item>
            <span class="book-detail-text">Fiyat:    </span> {{book.price}} TL
        </mat-list-item>

        <mat-list-item>
            <span class="book-detail-text">Stok:     </span> {{book.stock}}
        </mat-list-item>

        <mat-list-item>
            <span class="book-detail-text">Kategori:     </span> {{book.categoryBy?.name}}
        </mat-list-item>
    </mat-list>
    </div>
</div>